body {
  background-color: #ddd;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
}

div.frame {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 500px;
  padding-bottom: 100px;
  padding-top: 5px;
}

div.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: -60px;
  height: 60px;
  clear: both;
}

div.foot {
  width: 600px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

div.message {
  height: 50px;
}

a {
  color: #03c
}

a:hover {
  background-color: #03c;
  color: white;
  text-decoration: none;
}

span.accepted {
  color: green;
}

span.error {
  color: red;
}

input.names {
  width: 180px;
}

div.data {
  width: 492px;
  padding:3px;
  margin:0px;
  margin-bottom:3px;
  background: #e5eecc;
  border:solid 1px #c3c3c3;
}

div.user {
  width: 492px;
  padding:3px;
  margin:0px;
  margin-bottom:10px;
  background: #e5eecc;
  border:solid 1px #c3c3c3;
}

div.team_header {
  width: 492px;
  padding:3px;
  margin:0px;
  background: #e5eecc;
  border:solid 1px #c3c3c3;
  text-align: center;
}

div.team {
  width: 478px;
  padding: 10px;
  margin: 0px;
  background: #e5eecc;
  border:solid 1px #c3c3c3;
  display: none;
}

